@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap');

@import url('styles/leiaagora.css');
@import url('styles/neonovaindex.css');
@import url('styles/caps.css');
@import url('styles/creditos.css');

:root{
    --bg-color: #171719;
    --color-white: white;
    --primary-color: #00FF9F;

    --primary-font: 'Oswald', sans-serif;
    --secondary-font: 'Inter', sans-serif;
}

body{
    background-color: var(--bg-color);
}

.content{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.Logo{
    margin-left: -1em;
}

.header__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("images/Menu-hamburguer.svg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 1em 1em;
    display: inline-block;
}

.container__menu{
    display: none;
}

.container__menu:checked ~ .menu-list{
    display: inline;
    text-align: right;
    margin: 7vh 0 0 44vw;
    padding: 0em 0 100vh 3em;
    border-left: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);

    background: rgba(23, 23, 25, 0.91);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
}

.menu-list__links{
    margin-right: 1em;
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.75rem;
}

.menu-list{
    display: none;
    position: absolute;
    
}

.title{
    font-family: var(--secondary-font);
    color: var(--primary-color);
    margin-left: 50px;
    font-size: 1.5rem;
}


.paragraph{
    font-family: var(--secondary-font);
    color: var(--color-white);
    padding: 1em 2.5em 1em 2.5em;
    font-size: 1.25rem;
}

.justify{
    text-align: justify;
}

.index__content-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.index__button {
    display: flex;
    text-decoration: none;
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 1.5rem;
    justify-content: center;
    margin: 0 25%;
    align-items: center;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 1em;
}



@media screen and (max-width: 1650px){
    .Logo-text{
        display: none;
    }

    .content__desktop__menu{
        display: none;
    }
}

@media screen and (min-width: 1650px){
    .Logo{
        margin: 0 315px;
        display: flex;
        align-items: center;
        color: var(--primary-color);
        font-family: var(--primary-font);
        text-decoration: none;
        font-size: 2.25rem;
    }
    .Logo-text{
        margin-left: -0.8em;
    }

    .header__menu-hamburguer{
        display: none;
    }

    .content__desktop__menu{
        display: flex;
        align-items: center;
        gap: 28px;
    }
    .content__desktop__menu-item{
        font-family: var(--primary-font);
        color: var(--primary-color);
        text-decoration: none;
        font-size: 2.25rem;
    }
    .content__desktop__menu-item:hover{
        border-bottom: 2px solid var(--primary-color) ;
    }

    .title {
        margin: 1em 0 0 412px;
        font-size: 2em;
    }

    .paragraph{
        margin-left: 343px;
        font-size: 1.75em;
        width: 43%;
    }

    .index__button{
        width: 20%;
        margin: 1em 0 0 18em;
        font-size: 2em;
    }
    .index__button:hover{
        color: var(--bg-color);
        background-color: var(--primary-color);
    } 
}