.leiaagora__content-content__title{
    font-size: 1.75rem;
    color: var(--color-white);
    font-family: var(--primary-font);
    font-size: 1.5rem;
    margin-left: 50px;
}

.content__card{
    margin-top: 1em;
    background-color: var(--bg-color);
    border: 2px solid var(--primary-color);
    border-radius: 14px;
    padding: 1em;
    width: 320px;
    height: 200px;
    margin-left: 1em;
    box-shadow: 14px 14px 8px rgba(0, 0, 0, 0.25);
}

.content__card__image{
    max-width: 50%;
    border-radius: 4px;
    margin: auto;
    border-bottom: 2px solid var(--primary-color);
}

.content__card__title{
    text-align: center;
    color: var(--color-white);
    font-family: var(--primary-font);
    font-size: 1.75rem;
    margin-bottom: 0.4em;
}

.content__card__description{
    display: flex;
    flex-direction: row-reverse;
}

.content__card__paragraph{
    color: var(--color-white);
    font-family: var(--primary-font);
    font-size: 1rem;
}

.content__card__description-description{
    display: flex;
    flex-direction: column;
}

.content-read{
    text-align: center;
    padding: 14px;
    margin-top: 3.5em;
    text-decoration: none;
    border-radius: 14px;
    font-family: var(--primary-font);
    font-size: 1rem;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

@media screen and (min-width: 1650px){
    .leiaagora__content-content__title{
        margin: 1em 0 1em 395px;
        font-size: 2.5em;
    }

    .content__card{
        margin: 3em 0 1em 395px;
    }

    .content__card__image{
        margin-left: 3em;
    }

    .content-read:hover{
        background-color: var(--primary-color);
        color: var(--bg-color);
    }
}